<!-- ANY AND ALL IMAGES ARE FREE-USE BY PIXABAY AND OTHER FREE USE SITES ANY AI IMAGES ARE FROM CRAION.COM
    I UNDERSTAND I WILL HAVE TO CREATE NEW IMAGES ON MY OWN IF THIS PROJECT GOES LIVE(PRODUCTION)-->
<div class="col-lg-10">
  <h3 class="text-center">All Products</h3>
  <div class="card-container">
    <a class="card-link" routerLink="/productDetails">
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-4" *ngFor="let p of filteredProducts">
          <ng-container >
            <div class="card">
              <p>product image here</p>
              <div class="card-body">
                <h3 class="card-title text-center">{{ p.productName }}</h3>
                <a href="" class="btn btn-primary">Add to Cart</a>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </a>
  </div>
</div>
