<div class="container" name="user-reg-container">
  <form class="example-form form-group" (ngSubmit) = "onSubmit()" [formGroup]="userRegistrationForm">

    <table class="example-full-width" cellspacing="0">
      <tr>
        <h4>New User Information</h4>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>First name</mat-label>
            <input matInput name="f-name-txt-box" formControlName="firstName" id="firstName"/>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Last Name</mat-label>
            <input matInput name="l-name-txt-box" formControlName="lastName" id="lastName"/>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Username</mat-label>
            <input matInput name="username-txtbox" formControlName="username" id="username"/>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" name="pw-textbox"
              formControlName="password" id="password"/>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </mat-form-field>
        </td>
      </tr>
    </table>

    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>E-mail</mat-label>
            <input matInput placeholder="johndoe@email.com" id="email" name="email-txt-box"
              formControlName="email" />
          </mat-form-field>
        </td>
      </tr>
    </table>

    <table class="example-full-width" cellspacing="0">
      <tr>
        <button mat-button class="btn btn-right btn-primary" type="submit" name="submit-btn">
          Submit
        </button>
      </tr>
    </table>
  </form>
</div>